language: php
php:
  - '5.4'
  - '5.5'
  - '5.6'
  - '7.0'
env:
  - SYMFONY_VERSION=2.3.*
  - SYMFONY_VERSION=2.7.*
  - SYMFONY_VERSION=2.8.*
  - SYMFONY_VERSION=3.0.*
  - SYMFONY_VERSION=3.1.*
#  - SYMFONY_VERSION=dev-master
matrix:
  exclude:
    - php: 5.4
      env: SYMFONY_VERSION=3.0.*
    - php: 5.4
      env: SYMFONY_VERSION=3.1.*
#    - php: 5.4
#      env: SYMFONY_VERSION=dev-master
before_install:
  - composer require "symfony/framework-bundle:${SYMFONY_VERSION}" --no-update
  - composer require "symfony/property-access:${SYMFONY_VERSION}" --dev --no-update
install: composer install
script: bin/phpunit
